{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>McGill Event Calendar</title>
    <link rel="stylesheet" href= "{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SourceSans3">

</head>
<body >
    <div class="header">
         <h1 id="title">Event Horizon</h1>
    </div>

    <iframe src="https://embed.styledcalendar.com/#1baCf7QjudlWzry29xtx" title="Styled Calendar" style="height:90%; width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
    <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js%22%3E"></script>


        
</body>
</html>